.wrapper {
  width: 50%;

  margin-bottom: 75px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1200px) {
    width: 100%;
  }

  .image {
    padding: 20px 30px;

    background: rgba(0, 0, 0, 0.1);
    .wrap {
      position: relative;
      width: 500px;
      height: 250px;

      @media (max-width: 600px) {
        width: 80vw;
        height: 40vw;
      }
    }
  }

  .link {
    font-weight: bold;

    margin-top: 20px;

    border-bottom: 1px solid #000;
  }
}
