$svgScale: 60px;

.banner-outside {
  text-align: center;
  width: 100%;

  user-select: none;

  background: #f5f5f7;

  padding: 25px 0;
}

.wrapper {
  display: flex;
  //   flex-direction: column;
  //   margin-left: 500px;
  min-height: calc(100vh - var(--navbar-height));

  @media (max-width: 1280px) {
    margin-left: 0;
  }

  .links {
    display: flex;

    margin-top: 50px;

    .item {
      padding: 15px 20px;
      border: 1px solid rgba(0, 0, 0, 0.35);
      border-radius: 15px;
      background: #fff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
      text-align: left;

      width: 450px;
      height: 100px;

      cursor: pointer;

      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }

      .title {
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 16px;
      }

      .description {
        color: #898989;
        font-size: 14px;
      }
    }
  }

  .banner {
    width: 100%;
    padding: 30px 100px;

    @media (max-width: 734px) {
      display: none;
      visibility: hidden;
    }

    .container {
      display: flex;

      a {
        color: #0066cc;
        font-weight: 500;
        font-size: 16px;
        // letter-spacing: -0.5px;

        padding: 0;
        background: none;

        position: relative;
        z-index: 5;

        margin-right: 20px;

        border-bottom: 2px solid transparent;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          border-bottom: 2px solid #0066cc;
        }
      }

      .message {
        padding: 0 50px;
        text-align: center;

        &-title {
          font-size: 24px;
          font-weight: 400;
        }

        &-links {
          margin: 25px 0;

          .item {
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        &-limited {
          text-align: left;
          .item {
            margin-top: 15px;

            width: 250px;

            &-title {
              font-size: 16px;
              margin-bottom: 5px;
              font-weight: 400;
            }
          }
        }

        &-goal {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          margin: 15px 0;

          &-left {
            font-size: 14px;

            letter-spacing: -0.02em;
          }

          &-description {
            font-size: 16px;
            margin-top: 10px;

            color: #898989;
          }

          &-link {
            margin-top: 20px;
          }
        }
      }
    }
  }

  .orders {
    padding: 0px 100px;

    width: 100%;

    @media (max-width: 1280px) {
      padding: 0;
    }

    .title {
      font-size: 32px;

      font-weight: 500;
    }

    .chart {
      padding: 50px 30px;
      //   background: #f7f7f7;
      background: #fff;

      border-radius: 10px;

      @media (max-width: 1280px) {
        border-radius: 0;
      }

      .info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        padding: 0 25px 40px;

        .options {
          display: flex;
          align-items: flex-end;

          & > * {
            margin-right: 30px;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .refresh {
          display: flex;
          align-items: center;

          padding: 5px 10px;

          cursor: pointer;

          &--icon {
            width: 14px;

            margin-left: 5px;

            &.rotate {
              animation: rotate 2s linear infinite;
            }
          }
        }
      }

      .grid {
        // display: flex;

        // flex-wrap: wrap;

        padding: 20px 0;

        // overflow-y: scroll;
        // height: 250px;

        // padding-bottom: 100px;
      }

      .bottom-container {
        width: 100%;
        display: flex;
        justify-content: center;

        cursor: default;
        user-select: none;

        .bottom-text {
          color: rgb(110, 110, 115);

          padding: 50px 0;
        }
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
