.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  color: #fff;

  background: linear-gradient(90deg, rgb(80, 40, 103), rgb(80, 44, 109));

  //   min-height: calc(100vh - 100px);

  padding: 125px 0;

  .headline {
    text-align: end;

    h2 {
      font-size: clamp(0.8rem, 4.5vw, 3.5rem);
      font-weight: bold;
    }

    h3 {
      font-size: clamp(1rem, 4.5vw, 3.5rem);
      font-weight: bold;

      span {
        border-bottom: 3px solid #fff;
      }
    }
  }

  .text {
    // font-size: 36px;
    font-weight: 500;

    // width: 850px;

    line-height: 1.25;

    // margin: 80px 0;
    font-size: clamp(0.7rem, 4vw, 2.5rem);
    margin: 60px min(3vw, 12rem);
  }

  //   @media (min-width: 960px) and (max-width: 1366px) {
  //     p {
  //       font-size: 28px;

  //       width: 700px;
  //     }

  //     .text {
  //       h2,
  //       h3 {
  //         font-size: 48px;
  //       }
  //     }
  //   }
}
