// @font-face {
//   font-family: 'Spartan';
//   src: local('../public/fonts/Spartan Thin'), local('Spartan-Thin'),
//     url('../public/fonts/Spartan-Thin.woff') format('woff');
//   font-weight: 100;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Spartan';
//   src: local('../public/fonts/Spartan ExtraLight'), local('Spartan-ExtraLight'),
//     url('../public/fonts/Spartan-ExtraLight.ttf') format('truetype');
//   font-weight: 200;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Spartan';
//   src: local('../public/fonts/Spartan Light'), local('Spartan-Light'),
//     url('../public/fonts/Spartan-Light.ttf') format('truetype');
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Spartan';
//   src: local('../public/fonts/Spartan Regular'), local('Spartan-Regular'),
//     url('../public/fonts/Spartan-Regular.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Spartan';
//   src: local('../public/fonts/Spartan Medium'), local('Spartan-Medium'),
//     url('../public/fonts/Spartan-Medium.ttf') format('truetype');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Spartan';
//   src: local('../public/fonts/Spartan SemiBold'), local('Spartan-SemiBold'),
//     url('../public/fonts/Spartan-SemiBold.ttf') format('truetype');
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Spartan';
//   src: local('../public/fonts/Spartan Bold'), local('Spartan-Bold'),
//     url('../public/fonts/Spartan-Bold.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Spartan';
//   src: local('../public/fonts/Spartan ExtraBold'), local('Spartan-ExtraBold'),
//     url('../public/fonts/Spartan-ExtraBold.ttf') format('truetype');
//   font-weight: 800;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Spartan';
//   src: local('../public/fonts/Spartan Black'), local('Spartan-Black'),
//     url('../public/fonts/Spartan-Black.ttf') format('truetype');
//   font-weight: 900;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
