.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   padding-bottom: 100px;
  //   padding-top: 270px;
  //   padding-top: 150px;

  padding: 100px 0;

  color: #fff;

  background: #000;
  //   margin-top: -115px;

  @media (max-width: 734px) {
    padding-top: 150px;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      //   font-size: clamp(2rem, 4vw, 5rem);
      font-size: clamp(2rem, 3.5vw, 5rem);
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#f06844),
        color-stop(25%, #ee4c54),
        color-stop(50%, #d45e95),
        color-stop(75%, #9c6ca6),
        to(#6583c1)
      );
      background: -webkit-linear-gradient(
        left,
        #f06844 0%,
        #ee4c54 25%,
        #d45e95 50%,
        #9c6ca6 75%,
        #6583c1 100%
      );
      background: linear-gradient(
        to right,
        #f06844 0%,
        #ee4c54 25%,
        #d45e95 50%,
        #9c6ca6 75%,
        #6583c1 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      //   max-width: 1194px;
      //   width: 100%;
      //   font-weight: 400;

      //   font-size: clamp(1.25rem, 1vw, 2rem);

      @media (max-width: 734px) {
        margin-left: auto;
        margin-right: auto;
        width: 87.5%;
      }

      font-weight: 500;
      font-size: 24px;
      text-align: center;
      margin: 15px 0;
    }

    @media (max-width: 500px) {
      h2 {
        font-size: 7vw;
      }
      p {
        padding: 0 25px;
        font-size: 18px;
        width: 100%;
      }
    }
  }

  .wrapper {
    width: 100%;
    position: relative;
    padding: 25px 0;

    .item {
      padding: 25px 100px 0 50px;
    }
  }
}
